<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar película
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar placeholder="Buscar película" (ionChange)="onSearchChange($event)" [debounce]="700" animated [value]="search">
  </ion-searchbar>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="searching">
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-list-header>
      <ion-label>Populares</ion-label>
      <ion-button routerLink="/populars">Ver todos</ion-button>
    </ion-list-header>
    <ion-item *ngFor="let movie of populars$ | async" (click)="onClick(movie.title)">
      <ion-label>{{ movie.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>