<ion-content [fullscreen]="true">
  <app-header title="Favoritos"></app-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6" sizeSm="4" sizeMd="3" sizeLg="2" *ngFor="let movie of movies">
        <app-slide [movie]="movie" pathType="poster_path">
          <ng-container slideDescription>
            <ion-card-header>
              <ion-card-subtitle>{{ movie.release_date | date:'YYYY' }}</ion-card-subtitle>
              <ion-card-title>{{ movie.title }}</ion-card-title>
            </ion-card-header>
          </ng-container>
        </app-slide>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
